name: Statuc Check Functions
on: [push]

jobs:
  job-1:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        run: sleep 20
      - name: Fail
        run: exit 1
      - name: Runs on Failure
        if: failure()
        run: echo 'Runs only on failure'
      - name: Runs on Success
        # This is not needed (DEFAULT BEAHAVIOUR)
        if: success()
        run: echo 'Runs on Success'
      - name: Always Runs
        # if: success() || failure()
        if: always()
        run: echo 'Always Runs'
      - name: Runs When Cancelled
        if: cancelled()
        run: echo 'Runs on Cancelled'
  job-2:
    runs-on: ubuntu-latest
    needs: job-1
    if: failure()
    steps:
      - run: echo 'Job 2'
